<button type="button" class="btn btn-{{ type }}" [disabled]="isDisabled || null">
    <i class="pe-1 bi {{ icon }}" *ngIf="icon && iconPosition === 'left'"></i>
    <span>{{ label }}</span>
    <i class="ps-1 bi {{ icon }}" *ngIf="icon && iconPosition === 'right'"></i>
</button>
