<div class="container">
    <form class="col-4 offset-4">
        <h3>Login</h3>
        <label for="email" class="form-label">Email</label>
        <edInput
            id="email"
            name="email"
            type="email"
            placeholder="Email"
            [isRequired]="true"
            [(ngModel)]="email"
        ></edInput>
        <label for="password" class="form-label">Mot de passe</label>
        <edInput
            id="password"
            name="password"
            type="password"
            placeholder="Mot de passe"
            [isRequired]="true"
            [(ngModel)]="password"
        ></edInput>
        <edButton label="Connexion" (click)="login()"></edButton>
    </form>
</div>
