<input
    [type]="type"
    [min]="min"
    [max]="max"
    [disabled]="isDisabled"
    [required]="isRequired"
    [(ngModel)]="val"
    (ngModelChange)="onChange($event)"
    [id]="id"
    [class]="aggregatedClass"
    [name]="name"
    [placeholder]="placeholder"
    [autocomplete]="autocomplete || 'off'"
    [style]="style"
    (blur)="onBlur()"
/>

<span role="alert" class="invalid-feedback" *ngIf="isRequired && !value">
    Ce champ est obligatoire.
</span>
<span role="alert" class="invalid-feedback" *ngIf="isInvalid">
    {{ invalidMessage }}
</span>
